/* TABS: height */
:root {
	--tab-toolbar-navbar-overlap: 0px !important;
	--tab-min-height: 2% !important;
}

:root #tabbrowser-tabs {
	--tab-min-height: 2% !important;
}

#TabsToolbar {height: var(--tab-min-height) !important;}

#nav-bar, #identity-box, #statuspanel { visibility: collapse !important; }

/* , #tabbrowser-tabs, #TabsToolbar */
