@import "../waybar/themes/catppuccin-frappe.css";

/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px
}

/* Inner bar container, surrounds buttons */
#inner-box {
    background-color: shade(@base, 0.9);
    border-radius: 1rem;
	padding: 5px;
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px
}

button:hover {
	background-color: shade(@mauve, 0.9);
}
