@import "themes/catppuccin-frappe.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Cascadia Code", "Symbols Nerd Font";
    /* color: @text; */
    font-size: 15px;
    min-height: 0;
}

#waybar {
    /* background-color: shade(@base, 0.9);
    border: 2px solid alpha(@crust, 0.3);
    transition-property: background-color;
    transition-duration: .5s; */
    background: transparent;
    margin: 5px 5px;
}

.modules-left,
.modules-center,
.modules-right {
    color: @lavender;
    background-color: @surface0;
    border-radius: 1rem;
    padding: 4px 1px;
}

.modules-left {
    margin-left: 2rem;
}

.modules-center {
    margin: 0 4rem;
}

.modules-right {
    margin-right: 2rem;
    padding: 0 5px;
}

#workspaces button {
    border-radius: 1rem;
    padding: 0 5px;
}

#workspaces button.active {
    color: @mauve;
    background-color: @surface1;
    border-radius: 1rem;
}

#workspaces button:hover {
    background-color: @surface2;
    border-radius: 1rem;
}

#clock {
    color: @blue;
    margin: 0 0.7rem;
}

#clock .month {
    color: @mauve;
}

#keyboard-state {
    color: @sapphire;
}

#pulseaudio {
    color: @maroon;
}

#cpu {
    color: @blue;
}

#memory {
    color: @rosewater;
}

#temperature {
    color: @peach;
}

#temperature.critical {
    color: @red;
}

#backlight {
    color: @yellow;
}

#battery {
    color: @teal;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}