$black-light: #303741;
$black: #0e1013;
$red-light: #e86973;
$red: #e55561;
$green-light: #9bc47c;
$green: #8ebd6b;
$yellow-light: #e5c07c;
$yellow: #e2b86b;
$orange-light: #d29d6b;
$orange: #cc9057;
$blue-light: #61afef;
$blue: #4fa6ed;
$purple-light: #c67add;
$purple: #bf68d9;
$cyan-light: #5db9c4;
$cyan: #48b0bd;
$grey-light: #7a818e;
$grey: #535965;

$foreground: #a0a8b7;
$background: #1f2329;
$white: #ececec;
$alpha: #00000000;

* {
  all: unset;
  font-family: "Cascadia Code";
}

.foreground {
  color: $foreground;
}

.background {
  color: $background;
}

.black-light {
  color: $black-light;
}

.black {
  color: $black;
}

.red-light {
  color: $red-light;
}

.red {
  color: $red;
}

.green-light {
  color: $green-light;
}

.green {
  color: $green;
}

.yellow-light {
  color: $yellow-light;
}

.yellow {
  color: $yellow;
}

.orange-light {
  color: $orange-light;
}

.orange {
  color: $orange;
}

.blue-light {
  color: $blue-light;
}

.blue {
  color: $blue;
}

.purple-light {
  color: $purple-light;
}

.purple {
  color: $purple;
}

.cyan-light {
  color: $cyan-light;
}

.cyan {
  color: $cyan;
}

.grey-light {
  color: $grey-light;
}

.grey {
  color: $grey;
}

.white {
  color: $white;
}

.bg_black-light {
  background-color: $black-light;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $black;
  }
}

.bg_black {
  background-color: $black;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $black-light;
  }
}

.bg_black_transparent {
	background-color: rgb(14, 16, 19, 0.5);
	transition: background-color 0.3s ease-in;

	&:hover {
	  background-color: $black-light;
	}
}

.bg_red-light {
  background-color: $red-light;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $red;
  }
}

.bg_red {
  background-color: $red;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $red-light;
  }
}

.bg_green-light {
  background-color: $green-light;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $green;
  }
}

.bg_green {
  background-color: $green;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $green-light;
  }
}

.bg_yellow-light {
  background-color: $yellow-light;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $yellow;
  }
}

.bg_yellow {
  background-color: $yellow;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $yellow-light;
  }
}

.bg_orange-light {
  background-color: $orange-light;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $orange;
  }
}

.bg_orange {
  background-color: $orange;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $orange-light;
  }
}

.bg_blue-light {
  background-color: $blue-light;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $blue;
  }
}

.bg_blue {
  background-color: $blue;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $blue-light;
  }
}

.bg_purple-light {
  background-color: $purple-light;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $purple;
  }
}

.bg_purple {
  background-color: $purple;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $purple-light;
  }
}

.bg_cyan-light {
  background-color: $cyan-light;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $cyan;
  }
}

.bg_cyan {
  background-color: $cyan;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $cyan-light;
  }
}

.bg_grey-light {
  background-color: $grey-light;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $grey;
  }
}

.bg_grey {
  background-color: $grey;
  transition: background-color 0.3s ease-in;

  &:hover {
	background-color: $grey-light;
  }
}

.circle {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50px;
}

.s56 {
  font-size: 56px;
}

.s44 {
  font-size: 44px;
}

.s36 {
  font-size: 36px;
}

.s32 {
  font-size: 32px;
}

.s24 {
  font-size: 24px;
}

.s18 {
  font-size: 18px;
}

.s10 {
  font-size: 10px;
}

.w50p {
  min-width: 500px;
}

.tooltip {
  background-color: $black;
  color: $white;
  opacity: 1;
}

.tooltip.background,
.tooltip.background.csd,
tooltip.background,
tooltip.background.csd {
  background-color: $black;
  color: $white;
  background-clip: padding-box;
}

.tooltip *,
tooltip * {
  background-color: transparent;
  color: inherit;
}

.bar,
.barHDMI {
  background: $black;
  color: $foreground;
  font-size: 16px;
  margin: 0;
  padding: 10px 0px;
}

.dashboard {
  background-color: rgba(31, 35, 41, 0.65);
  border: 2px solid $black-light;
  padding: 15px;
}

.dashboard-item {
  all: unset;
  background-color: $black-light;
  border-radius: 15px;
  padding: 8px 25px;
}

.dashboard-box {
  margin: 5px;
}

.dashboard_tile {
	min-height: 100px;
	min-width: 100px;
}

.spacer {
  font-size: 0px;
  min-height: 20px;
}

.dashboard-icon {
  font-size: 32px;
}

.dashboard-icon:hover {
  background-color: $grey;
}

.workspaces {
  font-size: 28px;
}

.workspaces {
  margin: unset;
  padding: unset;

  button:hover {
    background-color: $grey;
  }

  button {
    background: unset;
    min-height: 35px;
  }

  .occupied {
    color: $foreground;
  }

  .focused {
    background-color: $black-light;
    color: $white;
    font-size: 32px;
  }

  .urgent {
    color: $red;
  }

  .empty {
    color: $grey;
  }

  .empty:hover {
    color: $white;
  }
}

.metric-cpu scale trough highlight,
.metric-ram scale trough highlight,
.metric-vol scale trough highlight,
.metric-bright scale trough highlight {
  all: unset;
  border-radius: 20px;
}

.metric-cpu scale trough,
.metric-ram scale trough,
.metric-vol scale trough,
.metric-bright scale trough {
  all: unset;
  background-color: $grey;
  border-radius: 50px;
  min-height: 15px;
  min-width: 13em;
  margin-left: 10px;
  margin-right: 0px;
}

.metric-cpu scale trough highlight {
  background-color: $foreground;
}

.metric-ram scale trough highlight {
  background-color: $red;
}

.metric-vol scale trough highlight {
  background-color: $orange;
}

.metric-bright scale trough highlight {
  background-color: $green;
}

.metric-label {
  font-size: 15px;
  font-weight: bolder;
}

/********
 ! Switch
*********/
switch {
  border-radius: 6px;
  padding: 3px;
  border: 0;
  outline: none;
  transition: background-color 0.3s linear;
  min-width: 82px;
  min-height: 26px;
  background-color: $black;
  color: $black-light;
  font-size: 90%;
}

switch:hover {
  background-color: $grey-light;
}

switch slider {
  background-color: $black-light;
  transition: all 0.3s ease-in;
  border-radius: 6px;
}

switch:checked {
  background-color: $black-light;
  background-image: none;
  border-color: $black-light;
  color: $black;
}

switch:checked:hover {
	background-color: $grey-light;
  border-color: $black;
}

switch:checked slider {
  background-color: $black;
}

switch:disabled {
  background-color: $black;
  background-image: none;
  border-color: $black;
  color: $black;
  box-shadow: none;
}

switch:disabled slider {
  background-color: $black;
}

/**********
 ! Calendar
***********/
.calendar {
  padding: 1px 3px;
  outline-offset: -1px;
  color: $foreground;
}

.calendar .header,
.calendar .button,
.calendar .highlight {
  background-color: unset;
}

.calendar .highlight {
  font-size: 2em;
  margin: 10px;
  color: $red;
}

.calendar:selected {
  padding: 0;
  margin: 0;
  color: $green;
}

.calendar .header {
  border-bottom: 1px solid $black;
  border-radius: 0;
}

.calendar .button:hover {
  color: $white;
}

.calendar .button:disabled {
  color: $black;
}
.calendar:disabled {
  color: $white;
}
